*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #fdf0d580;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
    padding: 0 1rem;
    max-width: 85rem;
}
header span{
    font-size: 2rem;
    font-weight: bold;
    color: #780000;
    letter-spacing: 0.2rem;
    cursor: pointer;
}
header nav ul{
    display: flex;
    list-style: none;
}
header nav ul li{
    margin: 0 1rem;
    font-size: 1.2rem;
    color: #003049;
    letter-spacing: 0.1rem;
}
header nav ul li a{
    text-decoration: none;
    position: relative;
    color: #003049;
    font-weight: bold;
    transition: color 0.2s ease;
}
header nav ul li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #780000;
    transition: width 0.2s ease;
}
header nav ul li a:hover::after{
    width: 100%;
}
header nav ul li a:hover{
    color: #780000;
}
header button{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #003049;
    color: #FFFFFF;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
header button:hover{
    background-color: #780000;
}